
  <h2>My Tasks</h2>
  



<app-task-form [editTask]="selectedTask"></app-task-form>

<!-- Liste des tâches -->
<div *ngFor="let task of tasks$ | async" 
     class="task-item" 
     [class.completed]="task.completed">
  <h3>{{ task.title }} (Priorité: {{ task.priority }})</h3>
  <p>{{ task.description }}</p>
  <p>{{ task.dueDate | date }}</p>
  <button (click)="onToggle(task.id)">Validate</button>
  <button (click)="onEdit(task)">Update</button>
  <button (click)="onDelete(task.id)">Delete</button>
  
  
</div>
<div class="header">
    <button class="logout-btn" (click)="logoutUser()">Disconnect</button>

  </div>